* {
	box-sizing: border-box;
}

body { 

	background-image: url("../images/dark-triangles.png")

 }

.container {
	width: 960px;
	margin: 0 auto;
	overflow: auto;

}

   
.jumbotron {
	color: blue;
	text-align: center; 
	padding: 100px 100px 25px 100px;
}

.crystals {
	height: 200px;
	width: 200px;
	padding: 30px;
	display: inline;
	float: left;
	align-items: center;
}

 img  {
	width: 20%;
	hover: opacity: .5;
}    

img:hover { 
	opacity: 0.8; 
}

.panels {
	color: blue;
	align-items: center;
}

p {
	text-align: center;
	color: white;
}

#subheader {
	text-align: center;
	color: white;
	font-style: bold;
	outline-style: solid blue;
}

#randomScore {
	float: left;
}